@model IEnumerable<ConferenceRoom.Models.UnavailabilityPeriodViewModel>

<h1>Unavailability Period</h1>

<p>
    <a asp-action="Create">Create New Unavailability Period</a>
</p>

<p>
    @using (Html.BeginForm("Index", "UnavailabilityPeriods", FormMethod.Get))
    {
        <label> Filter</label>
        @Html.TextBox("filterTerm")
        ;
        <input type="submit" value="Fiter" />
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td class="table-actions">
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Update</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style scoped>
    table {
        border-collapse: collapse;
        border-spacing: 1px 1px;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }


        table thead tr {
            width: 1%;
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        table th, table td {
            width: 1%;
            padding: 8px 10px;
            border: 1px solid #dddddd;
        }


        table tbody tr {
            width: 1%;
            border-bottom: 1px solid #dddddd;
        }

            table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }
